<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <log4net>
        <root>
            <level value="ALL" />
            <appender-ref ref="console" />
            <appender-ref ref="file" />
            <appender-ref ref="fileErrors" />
        </root>
        <appender name="console" type="log4net.Appender.ManagedColoredConsoleAppender">
            <mapping>
                <level value="INFO" />
                <forecolor value="Green" />
            </mapping>
            <mapping>
                <level value="WARN" />
                <forecolor value="Yellow" />
            </mapping>
            <mapping>
                <level value="ERROR" />
                <forecolor value="Red" />
            </mapping>
            <mapping>
                <level value="DEBUG" />
                <forecolor value="Blue" />
            </mapping>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger.%method[%line] - %message%newline" />
            </layout>
        </appender>
        
        <appender name="file" type="ConsolePrograms.CustomRollingFileAppender">
            <file value="log\MyLog" />
            <appendToFile value="true" />
            <rollingStyle value="Date" />
            <datePattern value="yyyy-MM-dd'.log'" />
            <staticLogFileName value="false" />

            <maxFileInDirectories value="1" />
            <maxFileInArchive value="10" />
            <locationLog value="log\" />
            <locationLogArchive value="log\archive.zip" />
            
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %level %logger.%method[%line] - %message%newline" />
            </layout>
        </appender>

        <appender name="fileErrors" type="ConsolePrograms.CustomRollingFileAppender">
            <file value="log\errors\ErrorsMyLog" />
            <appendToFile value="true" />
            <rollingStyle value="Date" />
            <datePattern value="yyyy-MM-dd'.log'" />
            <staticLogFileName value="false" />

            <maxFileInDirectories value="1" />
            <maxFileInArchive value="10" />
            <locationLog value="log\errors\" />
            <locationLogArchive value="log\errors\archive.zip" />

            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %level %logger.%method[%line] - %message%newline" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="ERROR" />
                <levelMax value="FATAL" />
            </filter>
        </appender>
        
    </log4net>
</configuration>